.carousel-caption {
  color: #fff;
  top: 317px;
  text-shadow: 2px 2px 8px #000;
  font-size: xx-large;
}

.caption-first-text {
  font-size: 150%;
}

.caption-second-text {
  font-size: 80%;
}

.carousel {
  position: relative;
  height: 110%;
  top: -16px;
}

.carousel-inner {
  height: 100%;
  border-radius: 0% 49% 49% 0% / 0% 51% 49% 0%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}